    <aside class="large-3 columns">

      <div class="panel featured">
        <h4>Most Popular Posts</h4>
        <% @config[:popular_articles].each do |a| %>
        <ul>
          <li><a href="<%= search(a).path %>"><%= search(a)[:title] %></a></li>
        <% end %>
        </ul>

        <h4>Featured Posts</h4>
        <% @config[:featured_articles].each do |a| %>
        <ul>
          <li><a href="<%= search(a).path %>"><%= search(a)[:title] %></a></li>
        <% end %>
        </ul>
      </div>

      <div class="panel social">
        <h4>Follow <%= @config[:site_name] %></h4>
        <a href="<%= @config[:social_facebook] %>" class="fc-webicon facebook">Like on Facebook</a>
        <a href="<%= @config[:social_twitter] %>" class="fc-webicon twitter">Follow on Twitter</a>
        <a href="<%= @config[:social_googleplus] %>" class="fc-webicon googleplus">Follow on Google+</a>
        <a href="<%= @config[:social_youtube] %>" class="fc-webicon youtube">Subscribe on Youtube</a>
        <a href="<%= @config[:social_github] %>" class="fc-webicon github">Fork on GitHub</a>
        <a href="<%= @config[:social_rss] %>" class="fc-webicon rss">Subscribe to RSS</a>
      </div>

      <%= render '_sidebar_ad' %>

    </aside>